{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="register-choice">
        <a class="card" href="{{ path('app_register', { 'type': 'artist' }) }}">
            <h1>Artist</h1>
            <p>Vous êtes un artiste ?</p>
            <img src="../../assets/images/Microphone.svg" />
        </a>
        <a class="card" href="{{ path('app_register', { 'type': 'user' }) }}">
            <h1>Fan</h1>
            <p>Vous êtes un manager ?</p>
            <img src="../../assets/images/Musical Notes.svg" />
        </a>
        <a class="card" href="{{ path('app_register', { 'type': 'manager' }) }}">
            <h1>Manager</h1>
            <p>Vous voulez un fan ?</p>
            <img src="../../assets/images/Music Record.svg" />
        </a>
    </section>
   

{% endblock %}