{% extends 'base_front.html.twig' %}
{% block title %}Confirmer votre compte!{% endblock %}

{% block body %}

    <div class="bigContainer">
        <div class="containerReset">
            <h1 class="mainTitle">Vous avez reçu un email pour confirmer votre compte !</h1>
        </div>
    </div>
{% endblock %}