{% extends 'base_front.html.twig' %}

{% block body %}

    <section class="artist-index">
        <h2>Listes des Artistes</h2>
        <add class="artist-list">
            {% for artist in artists %}
            <a class="artist" href="{{ path('front_default_artist', {'id': artist.id}) }}">
                <img class="picture" src="{{ asset('images/' ~  artist.image) }}" alt="logo" />
                <h4>{{ artist.firstname }}</h4>
            </a>
            {% endfor %}
        </div>
    
    </section>

{% endblock %}
