<!DOCTYPE html>

<title>Edit Album</title>

{% block body %}
    <h1>Edit Album</h1>

    {{ include('album/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_album_index') }}">back to list</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
