.profile-index {
    @extend .main-section;
    
    & span {
        color: white;
        font-size: 15px;
        line-height: normal;
    }
    
    & .header {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & img {
            height: 300px;
            width: 300px;
            border-radius: 15px;
        }

        & .text {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        
            & h2 {
                font-size: 50px !important;
            }

            & a {
                margin-top: auto;
                color: white;
                font-size: 17px;
            }
        }
    }
}