
.music-group-show {
    @extend .main-section;
    padding-bottom: 100px !important;

    & h1 {
        color: white;
    }

    & h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    & .artist-list {
        display: flex;
        flex-direction: row;
        gap: 40px;

        & .artist {
            display: flex;
            flex-direction: column;
            gap: 10px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }

            & .picture {
                width: 60px;
                height: 60px;
                border-radius: 15px;
                width: 132px;
                height: 132px;
            }

            & h4 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 36px;
                color: #FFFFFF;
            }
        }
    }

    & .button {
        @extend .main-button;
    }

    & .music-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .music {
            padding: 10px;
            padding-left: 20px;
            height: max-content;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;  
        }
    }

    & span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        font-style: italic;
    }

    & .calendar {
        @extend .main-button;
        background: transparent !important;
        text-decoration: underline !important;
    }

    // & #audio {
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    // }

    & .add-music {
        border: 1px solid white;
        border-radius: 20px;
        padding: 5px 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }


        & svg {
            color: white;
            width: 20px;
            height: 20px;
        }
    }
}