{% extends 'base_front.html.twig' %}
{% block title %}Reset your password{% endblock %}
{% block body %}
     <div class="bigContainer">
        <div class="containerReset">
            <h1 class="mainTitle">Reset your password</h1>
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="button">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
