{# {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %} #}
<form method="post" action="{{ path('front_app_music_group_delete', {'id': music_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music_group.id) }}">
    <button class="main-button main-button--delete">Supprimer</button>
</form>