{% extends 'base_front.html.twig' %}

{% block body %}
    <h1>MusicGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for music_group in music_groups %}
            <tr>
                <td>{{ music_group.id }}</td>
                <td>{{ music_group.name }}</td>
                <td>
                    <div class="actionTable">
                        <button class="button">
                            <a href="{{ path('front_app_music_group_show', {'id': music_group.id}) }}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </button>
                        {% if is_granted('ROLE_ADMIN')  %}
                            <button class="button">
                                <a href="{{ path('front_app_music_group_edit', {'id': music_group.id}) }}">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            </button>
                            {% include 'front/music_group/_delete_form.html.twig' %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
