{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="music-group-index">
        <h1>Liste des groupes</h1>

        <div class="music-group-list">
            {% for music_group in music_groups %}
                <a class="music-group-card" href="{{ path('front_app_music_group_show', {'id': music_group.id}) }}">
                    <div class="picture">

                    </div>
                    <div class="music-group-infos">
                        <h3>{{ music_group.name }}</h3>
                        <ul>
                            {% for artiste in music_group.artiste %}
                                <li>{{ artiste.firstname }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </a>
            {% else %}
                <p>Aucun groupe de musique n'a été trouvé</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
