{% extends 'base_front.html.twig' %}

{% block body %}
    <h1>MusicGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for music_group in music_groups %}
            <tr>
                <td>{{ music_group.id }}</td>
                <td>{{ music_group.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
