{% extends 'base_front.html.twig' %}
{% block body %}
 <div class="container">
        <h1 class="mainTitle">Create new Music</h1>
    {{ include('front/music/_form.html.twig') }}
    </div>

    <div class="buttonContainer">
        <button class="button">
            <a href="{{ path('front_app_music_group_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
        </button>
    </div>
{% endblock %}
