$white: #fff;
$black: #000;
$gray: #ccc;
$gray_dark: #999;
$gray_light: rgba(255, 255, 255, 0.5);
$background_color_button: linear-gradient(93.41deg, #FC466B -1.61%, #3F5EFB 105.3%);
$background_color_button_hover: darken($background_color_button, 10%);
$button_manager_color: rgba(244, 147, 32, 0.5);
$button_fan_color: rgba(20, 194, 90, 0.45);
$button_admin_color: rgba(230, 49, 82, 0.45);
$button_artist_color: rgba(45, 116, 255, 0.45);