body {
    margin: 0;
    body: 0;
    background-color: #151419;
    background-color: #cfc4ff;
    font-family: 'Poppins';
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    & li {
        list-style: none;
    }
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

button {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    resize: none;
}

select {
    outline: none;
}