$size_text_48: 3em;
$size_text_40: 2.5em;
$size_text_36: 2.25em;
$size_text_32: 2em;
$size_text_30: 1.875em;
$size_text_28: 1.75em;
$size_text_26: 1.625em;
$size_text_24: 1.5em;
$size_text_22: 1.375em;
$size_text_20: 1.25em;
$size_text_16: 1em;
$size_text_14: 0.875em;
$size_text_12: 0.75em;
$size_text_10: 0.625em;
$size_text_8: 0.5em;
$size_text_6: 0.375em;
$size_text_4: 0.25em;
$size_text_2: 0.125em;
$size_text_1: 0.0625em;
$size_text_0: 0em;
