.validate_button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 60px;
    gap: 10px;
    
    background: $background-color-button;
    color: $white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border-color: none;

    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: darken($background-color-button, 10%);
    }
}

.button_role {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    gap: 10px;
    border-radius: 36px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.button_manager {
    @extend .button-role;
    background: $button_manager_color;
    &:hover {
        background: darken($button_manager_color, 10%);
    }
}
.button_fan {
    @extend .button-role;
    background: $button_fan_color;
    &:hover {
        background: darken($button_fan_color, 10%);
    }
}
.button_admin {
    @extend .button-role;
    background: $button_admin_color;
    &:hover {
        background: darken($button_admin_color, 10%);
    }
}
.button_artist {
    @extend .button-role;
    background: $button_artist_color;
    &:hover {
        background: darken($button_artist_color, 10%);
    }
}


