.calendar-index {
    @extend .main-section;

    & .button-container {
        display: flex;
        flex-direction: row;

        & .create {
            @extend .main-button;
        }
    
        & .event {
            @extend .main-button;
            background: transparent !important;
            text-decoration: underline;
        }
    }
}

h2 {
    font-size: 30px !important;
    color: white;
}

/* calendrier */
#calendar {
    max-width: 900px;
    margin: 0;
    max-height: 520px;
  }
  
  /* Boutons de navigation */
  .fc-prev-button, .fc-next-button, .fc-today-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px !important;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .fc-prev-button:hover, .fc-next-button:hover, .fc-today-button:hover {
    background-color: #3e8e41;
  }
  
  /* Vue liste */
  .fc-list-heading-main {
    font-size: 24px;
    font-weight: bold;
  }
  
  .fc-list-heading-alt {
    font-size: 18px;
    font-weight: bold;
    color: #999;
  }
  
  .fc-list-item-time {
    font-size: 16px;
    color: #999;
  }
  
  .fc-list-item-title {
    font-size: 18px;
  }
  
  .fc-list-item-marker {
    display: none;
  }
  
  /* Vue agenda */
  .fc-agenda-axis {
    width: 50px;
    text-align: center;
  }
  
  .fc-agenda-date {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50;
  }
  
  .fc-agenda-time {
    font-size: 14px;
    color: #999;
  }
  
  .fc-agenda-event {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .fc-agenda-divider {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
  }
  
  /* Vue jour */
  .fc-day-grid-event {
    font-size: 16px;
    line-height: 1.4;
  }
  
  .fc-day-grid-event .fc-content {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
  }
  
  .fc-day-grid-event:hover .fc-content {
    background-color: #3e8e41;
  }
  
  .fc-event {
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
  }
  
  .fc-popover {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 99999;
  }
  
  .fc-popover-header {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .fc-popover-header .fc-close {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  
  .fc-popover-body {
    padding: 10px;
  }
  
  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 10px !important;
  }