
{% block body %}
    <nav class="nav-bar">
        <ul>
            <li><a href="{{path('front_app_profile_edit')}}">Modifier mon profile</a><i class="fa-solid fa-angle-right"></i></li>
            <li><a href="{{path('front_app_profile_music_group')}}">Mes groupes</a><i class="fa-solid fa-angle-right"></i></li>
        </ul>
    </nav>
{% endblock %}