{% extends 'base_front.html.twig' %}

{% block body %}
    <h1>Create new Document</h1>

    {{ include('front/document/_form.html.twig') }}

    <div class="buttonContainer">
        <button class="button">
            <a href="{{ path('front_app_document_index') }}"><i class="fa-solid fa-arrow-left"></i></a>
        </button>
    </div>
{% endblock %}
