<!DOCTYPE html>

<title>New Event</title>

{% block body %}
    <h1>Create new Event</h1>

    {{ include('front/event/_form.html.twig') }}

    <a href="{{ path('front_app_event_index') }}">back to list</a>
{% endblock %}
