{% extends 'base_front.html.twig' %}

{% block body %}

    <section class="event-new">
        <h3>Créer un évènement</h3>
        {{ include('front/event/_form.html.twig') }}
    </section>
{% endblock %}
