{% extends 'base_front.html.twig' %}

{% block body %}

    <section class="playlist-index">
        <h2>Mes playlists <a class="btn" href="{{ path('front_app_playlist_new') }}">Créer une playlist</a></h2>
        <ul>
        {% for playlist in playlists %}
            <li>
                <a href="{{ path('front_app_playlist_show', {'id': playlist.id}) }}">{{ playlist.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}
