{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="profile-playlist">
        <h2>Mes playlists</h2>
        <ul>
        {% for playlist in playlists %}
            <li>
                <a href="{{ path('front_app_playlist_show', {'id': playlist.id}) }}">{{ playlist.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>

{% endblock %}
