{% extends 'base_front.html.twig' %}

{% block body %}
    <section class="playlist-show">
        <span>PLAYLIST</span>
        <h2>{{ playlist.name }}</h2>
        <span>MUSICS</span>
        <ul>
        {% for music in musics %}
            <li>
                {{music.name}}
            </li>
        {% endfor %}
        </ul>
        <div class="buttonContainer">
            {% if playlist.owner == app.user or is_granted('ROLE_ADMIN') %}
            <button class="button">
                <a href="{{ path('front_app_playlist_edit', {'id': playlist.id}) }}">Modifier</a>
            </button>
            {% endif %}
        </div>
    </section>

{% endblock %}
