.playlist-index {
    @extend .main-section;
    
    & .btn {
        @extend .main-button;
        background: transparent !important;
        text-decoration: underline;
    }

    & a {
        color: white;

    }

    & ul {
        width: 100%;

        & li {
            list-style: decimal;
            margin-left: 60px;
            color: white;
            font-family: 'Poppins';

            & a {
                font-size: 25px;
            }
        }
    }
}