.playlist-show {
    @extend .main-section;

    & h2 {
        font-size: 40px !important;
    }

    & a {
        color: white;
    }

    & span {
        color: white;
        font-size: 15px;
        line-height: normal;
    }

    & ul {
        width: 100%;
        border-top: 1px solid rgba(136, 136, 136, 0.15);

        & li {
            list-style: decimal;
            margin-left: 60px;
            color: white;
            font-size: 20px;
        }
    }

    & .button {
        @extend .main-button;
        color: white !important;
    }

    & .header {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & img {
            height: 300px;
            width: 300px;
            border-radius: 15px;
        }

        & .text {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        
            & h2 {
                font-size: 50px !important;
            }

            & a {
                margin-top: auto;
                color: white;
                font-size: 17px;
            }
        }
    }

    & .edit {
        @extend .main-button;
        background: transparent !important;
        text-decoration: underline;
    }
}