.playlist-show {
    @extend .main-section;

    & h2 {
        font-size: 40px !important;
    }

    & a {
        color: white;
    }

    & span {
        color: white;
        font-size: 15px;
        line-height: normal;
    }

    & ul {
        width: 100%;
        border-top: 1px solid rgba(136, 136, 136, 0.15);

        & li {
            list-style: decimal;
            margin-left: 60px;
            color: white;
            font-size: 20px;
        }
    }

    & .button {
        @extend .main-button;
        color: white !important;
    }
}